body { 
font-family: sans-serif;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100vh;
background-color: #ffffff;
overflow: hidden;
margin: 0; 
padding: 0;
}

.scene {
  width: 340px;
  height: 188px;
}

.box {
  width: 342px;
  height: 188px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  transition: transform 1s;
  box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.5);


}

.box.show-front  { transform:  rotateY(   0deg); }
.box.show-back   { transform:  rotateY(-180deg); }
.box.show-right  { transform:  rotateY( -90deg); }
.box.show-left   { transform:  rotateY(  -270deg); }
/* .box.show-top    { transform: translateZ(-100px) rotateX( -90deg); } */
/* .box.show-bottom { transform: translateZ(-100px) rotateX(  90deg); } */


.box__face {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color: rgb(196, 196, 196);
  text-align: center;
}

.box__face--front,
.box__face--back {
  width: 341px;
  height: 189px;
  line-height: 188px;
}

.box__face--right,
.box__face--left {
  width: 4px;
  height: 188px;
  left: 148.5px;
  line-height: 188px;
}

.box__face--top,
.box__face--bottom {
  width: 340px;
  height: 4px;
  top: 99.5px;
  line-height: 100px;
}

.box__face--front  { background-image: url(./1_2.jpeg); }
.box__face--right  { background-color: rgb(85, 85, 85); } 
.box__face--back   { background-image: url(./1_1.jpeg); }
.box__face--left   { background-color: rgb(85, 85, 85); } 
.box__face--top    { background-color: rgb(85, 85, 85); } 
.box__face--bottom { background-color: rgb(85, 85, 85); } 

.box__face--front  { transform: rotateY(  0deg) translateZ( 2px); }
.box__face--back   { transform: rotateY(180deg) translateZ( 2px); }

.box__face--right  { transform: rotateY( 90deg) translateZ(188px); }
.box__face--left   { transform: rotateY(-90deg) translateZ(150px); }

.box__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.box__face--bottom { transform: rotateX(-90deg) translateZ(88px); }

label { margin-right: 10px; }